.header{
    height:160px;
      display:flex;
      align-items:center;
      justify-content:center;
  }
  .footer{
    display:flex;
    align-items:flex-end;
    justify-content:center;
    height:100px;
  }
  img{
      height:400px;
      width:900px;
      object-fit: cover;
  }
  .header h1{
      font-size:32pt;
  }
.content{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-flow:column nowrap;
}
.content p{
    font-size:18pt;
}
table{
    border-collapse:collapse;
    height:300px;
    width:1000px;
}
td{
    border:2px solid  #8792ef;
    font-size:20pt;
}
.footer a{
    font-size:22pt;
    color:rgb(240, 71, 240);
    text-decoration: none;
}